/* src/App.css */

.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

main {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  width: 300px;
}

button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #61dafb;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #21a1f1;
}
